# =========================
# Security / Credentials
# =========================
kubeconfig*
*.kubeconfig
*.pem
*.key
*.crt
.env
.env.*

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Editors / IDEs
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Temporary / Cache
# =========================
tmp/
temp/
*.tmp
*.log

# =========================
# Build / Dependencies
# =========================
node_modules/
dist/
build/
